* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
#box{
    position: relative;
    
}
.headlebox {
    width: 100%;
    height: 120px;
    transition: 0.2s;
    position: fixed;
    z-index: 10;
    color: white;
    font-size: 14px;
}

.headlebox:hover {
    background-color: white;
    color: black;
    
}

.div0 .div0-1 {
    background: white;
    height: 120px;
    width: auto;
    overflow: hidden;
    padding-top: 1px;
    
}

.div0 .div0-1 .iconfont {
    float: right;
    margin: 50px;
    cursor: pointer;
    /* font-size: 30px; */
}

.div0-1 .div0-2 {
    width: 720px;
    height: 46px;
    background-color: rgb(192, 192, 192);
    margin-left: auto;
    margin-right: auto;
    margin-top: 37.5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div0-2 input {
    width: 720px;
    height: 46px;
    background-color: rgb(192, 192, 192);
    border: none;
    padding-left: 20px;
}
.div0-2 input:focus{
    outline: none;
}

.div0-2 i {
    width: 46px;
    margin-left: 23px;
    cursor: pointer;
    /* font-size: 30px; */
}


.div1 {
    width: auto;
    height:30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    transition: 0.3s;
    padding: 38px 80px 0;
    
}



.div1 .div1-1 {
    display: flex;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 100px;
    cursor: pointer;
    text-align: center;
    
}


.div1-1 i {
    margin: 4px 5px;
    font-size: 20px;
}
.div1-1 .div-1-1-1{
    
    margin-top: 10px;
}

.div1-2 {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    
}

@media screen and (max-width:850px) {
    .div1-2 img{
        opacity: 0;
    }
}

.div1-2 img {
    width: 100px;

}


.div1-3 {
    position: absolute;
    bottom: 0;
    display: flex;
    right: 40px;
    cursor: pointer;
}

.div1-3>div {
    display: flex;
    margin-right: 30px;
    align-items: center;
}

.div2{
    height: 50px;
    /* width: max-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.div21{
    height: 50px;
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.div21-1{
    padding: 16px 20px 11px;
    /* border-bottom: 1px solid black; */
    cursor: pointer;
}
.div21-1>span:hover{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.carousel{
    width: 100%;
    
}

.carousel-inner img{
    height: 760px;
    width: 100%;
    object-fit: cover;
}