.z-1 {
    position: relative;
    width: 100%;
    height: 769px;
}

.z-1-1 {
    position: relative;
    display: flex;
    width: 100%;
    height: 769px;
}

.z-1-1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.z-1-2 {
    position: absolute;
    z-index: 10;
    bottom: 0;
    color: white;
}

.z-1-2-1 {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.z-1-2-2 {
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.z-1-2-1 li {
    width: 186px;
    text-align: center;
    line-height: 58px;
    height: 58px;
    margin-left: 20px;
    border: 1px solid white;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin: 15px 15px 0 0;
    box-sizing: border-box;
}

.z-1-2-1 li:hover {
    background-color: white;
    color: black;
}

.div3{
    width: 100%;
}

.div3-1 {
    width: 100%;
    height: 40px;
    display: inline-flex;
    position: relative;
    margin-top: 30px;
    padding: 10px;
}

.div3-1-1 {

    background-color: black;
    width: 43%;
    height: 2px;
    top: 20px;
    margin: 20px 20px;
}

.div3-2-1 {
    /* position: absolute; */
    font-size: 30px;
    text-align: center;
    padding: 0 10px;
    width: 200px;
}





.div3-2{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid black; */
    position: relative;
}
.div-3-2-1{
    width: 100%;
    animation: rolling 18s linear infinite;
    position: absolute;
    display: flex;
    
}
.div-3-2-1 img{
    height: 200px;
    float: left;
    margin-right: 10px;
}
@keyframes rolling{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}




.div4 {
    width: 100%;
    height: 300px;
    position: relative;
}

.div4-1 {
    position: absolute;
    background-color: black;
    border: none;
    color: white;
    width: 200px;
    height: 50px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.div4-1:hover{
    box-shadow: 2px 2px 2px gray;
}

.div-5{
    width: 100%;
    height: 351px;
    background-color: black;
    position: relative;
}

.div-5-1{
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translate(0,-50%);
    width: 100%;
    height: 251px;
    text-align: center;
    box-sizing: border-box;
}
.ul-1{
    display: flex;
    width: 90%;
    left: 50%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.li-1{
    list-style: none;
    display: inline-block;
    flex: 1;
    /* padding: 10px;
    margin: 10px; */
    color: white;
}

.li-div-1{
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}

.li-div-2{
    font-size: 12px;
    padding: 5px;
    color: #999;
    cursor: pointer;
}

.li-2{
    width: 200px;
}

.span-1{
    display: inline-block;
    padding: 10px;
}
.span-1 img{
    width: 80px;
    height: 80px;
}

.span-1 div{
    margin-top: 5px;
}

.copy{
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin-top: 56px;
    display: inline-block;
}